{% extends 'pages/base.html' %}

{% block title %}Venue | Python 4 Almost Everything{% endblock %}

{% block content %}
<section class="panel">
  <h2 class="panel-title">Venue</h2>
  <p>The conference will be hosted at TREX STL Convention Center in downtown St. Louis.</p>
  <address>
    TREX STL Convention Center<br>
    911 Washington Ave<br>
    St. Louis, MO 63101
  </address>
  <p>
    <a class="button primary" href="https://www.google.com/maps/search/?api=1&query=911+Washington+Ave+St.+Louis+MO+63101" target="_blank" rel="noopener noreferrer">Get Directions in Google Maps</a>
  </p>
</section>
{% endblock %}
